.spLikes {
	cursor: pointer;
	color: silver;
	margin-left: 10px;
	}
.spLikes:hover {
	color: gray;
	}
.spLikes a {
	color: inherit;
	}
.spThumb a {
	color: lightslategray;
	}
.divLikeContainer {
	display: inline-block;
	}
